@font-face { font-family: 'Bridal Routine'; src: url('fonts/Bridal_Routine.ttf') format('truetype'); }
@font-face { font-family: 'Brigovin'; src: url('fonts/Brigovin.woff') format('woff'); }
@font-face { font-family: 'Cinta'; src: url('fonts/Cinta.otf') format('opentype'); }
@font-face { font-family: 'Eleanor'; src: url('fonts/Eleanor.woff2') format('woff2'); }
@font-face { font-family: 'Brenda Harmony'; src: url('fonts/Brenda Harmony.woff') format('woff'); }
@font-face { font-family: 'Rapodhite'; src: url('fonts/Rapodhite.woff2') format('woff2'); }
@font-face { font-family: 'Elmira'; src: url('fonts/ElmiraWoff.woff2') format('woff2'); }
@font-face { font-family: 'Elysian Italic'; src: url('fonts/Elysian-Italic.woff2') format('woff2'); }
@font-face { font-family: 'Nikahan Script'; src: url('fonts/Nikahan Script.woff2') format('woff2'); }
@font-face { font-family: 'Reivant Grunge'; src: url('fonts/Reivant Grunge.ttf') format('truetype'); }
@font-face { font-family: 'SweetNote'; src: url('fonts/SweetNote.woff') format('woff'); }
@font-face { font-family: 'Angelica'; src: url('fonts/angelica.woff2') format('woff2'); }
@font-face { font-family: 'Gettins'; src: url('fonts/Gettins-Regular.woff') format('woff'); }
@font-face { font-family: 'Glossily Enigmatic'; src: url('fonts/GlossilyEnigmatic.woff2') format('woff2'); }
@font-face { font-family: 'Marlyna'; src: url('fonts/Marlyna.woff') format('woff'); }
@font-face { font-family: 'Married Typefaces'; src: url('fonts/MarriedTypefaces.ttf') format('truetype'); }
@font-face { font-family: 'Married Alternates'; src: url('fonts/MarriedAlternates.ttf') format('truetype'); }
@font-face { font-family: 'Married Swashes A'; src: url('fonts/MarriedSwashesA.ttf') format('truetype'); }
@font-face { font-family: 'Married Swashes B'; src: url('fonts/MarriedSwashesB.ttf') format('truetype'); }
@font-face { font-family: 'Sweater Script'; src: url('fonts/SweaterScript.woff') format('woff'); }
@font-face { font-family: 'Sweater Script Italic'; src: url('fonts/SweaterScriptItalic.woff') format('woff'); }
@font-face { font-family: 'Dh Finola'; src: url('fonts/DhFinola-ExtraLight.woff2') format('woff2'); }
@font-face { font-family: 'Wedding Script Font'; src: url('fonts/WeddingScriptFont-Regular.ttf') format('truetype'); }
@font-face { font-family: 'Newly Bridal'; src: url('fonts/NewlyBridal.ttf') format('truetype'); }
